.containerH {
    position: relative;
    justify-content: center;
    width: 60%;
    left: 30%;
    top: 72px;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.dashboard {
    position: relative;
    margin-top: 0px;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
}

.dashboardHeader {
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-around;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
    opacity: 1;
}

    .dashboardHeader svg {
        width: 0px;
        height: 110px;
        background: transparent 0% 0% no-repeat padding-box;
        border: 1px solid #5f5c5c29;
        opacity: 1;
    }

    .dashboardHeader span {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }

        .dashboardHeader span:nth-child(1) {
            font-size: 22px;
            line-height: 40px;
        }

        .dashboardHeader span:nth-child(2) {
            font-size: 44px;
            line-height: 68px;
        }

.containerT {
    position: relative;
    justify-content: center;
    top: 75px;
    left: 30%;
}

.tableContainer {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-bottom: 4%;
}

    .tableContainer table {
        width: 1035px;
        border-collapse: collapse;
        font-size: 22px;
        margin: 0px auto 75px auto;
        text-align: start;
    }

    .tableContainer thead > svg {
        margin-left: 7%;
    }

    .tableContainer tbody {
        display: block;
        padding-left: 55px;
        padding-right: 55px;
        background-color: white;
        box-shadow: 0px 3px 10px #00000029;
    }

    .tableContainer thead {
        background-color: #296CFB;
        border: #296CFB;
        color: white;
        box-shadow: 0px 3px 10px #00000029;
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    .tableContainer td {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    .tableContainer thead th {
        padding-top: 20px;
        padding-bottom: 16px;
    }

.tableTr {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-top: 1px solid white;
    margin-left: 30px;
    margin-right: 30px;
}

.tableContainer tbody tr {
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
}

.tableContainer tbody {
    width: 980px;
}

.theadTr {
    display: grid;
    align-self: center;
}

.theadTh svg {
    margin-right: 21px;
    margin-left: 21px;
}

.theadTh td {
    padding: 0;
}

.firstTh {
    margin-left: 58px;
}

.secondTh {
    margin-right: 58px;
}

.name {
    font-weight: bold;
    color: #16D696;
    text-align: left;
}

.enrolled {
    color: #000000;
    opacity: 1;
    font-weight: 500;
    padding-right: 50px;
}

.link {
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: inherit;
    text-decoration: inherit;
    color: #16D696;
}

    .link:hover {
        cursor: pointer;
        font-weight: bold;
    }

#flexViewMore {
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px 0px;
}

.containerC {
    position: relative;
    justify-content: center;
    left: 30%;
    top: 90px;
}

    .containerC thead {
        background-color: #16D696;
        border: #16D696;
    }
