.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    max-width: 90%;
    height: auto;
    flex-wrap: wrap;
}

.left {
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.backgnd {
    width: 83%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}

.manWithCase {
    width: 34%;
    height: auto;
    position: absolute;
    padding-top: 7%;
    padding-left: 7%;
}

.right {
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 6%;
}

.arrow {
    width: 26%;
    height: auto;
    align-self: center;
    padding-bottom: 5%;
    margin-top: 3%;
}

.inputformsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    width: 100%;
    row-gap: 25px;
}

.inputcontainer {
    opacity: 1;
    border: 2px solid #296cfb;
    width: 26rem;
    min-height: 2.5rem;
}

.inputuser {
    font-size: 16px;
    color: #296cfb;
    border-style: none;
    text-align: left;
    width: 52%;
    padding-top: 2.4%;
    padding-left: 3%;
}

    .inputuser:focus {
        outline: none;
    }

    .inputuser::placeholder::after {
        content: '002A';
        color: #E84855;
        vertical-align: text-top
    }

    .inputuser::placeholder {
        font-family: "Montserrat", sans-serif;
        color: #296CFB;
        letter-spacing: 1px;
    }

.eye {
    position: relative;
    cursor: pointer;
    float: right;
    padding-top: 1.5%;
    padding-right: 1.8%;
}

.btncontainer {
    justify-content: center;
}

    .btncontainer input {
        border: 2px solid #296cfb;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        background: #296cfb;
        color: white;
        width: 12rem;
        height: 2.8rem;
    }

.checkcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

    .checkcontainer input {
        cursor: pointer;
    }

.alreadyHave {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #296cfb;
    letter-spacing: 0px;
    opacity: 1;
    margin: 0;
    padding-left: 5%;
}

.loginhere {
    color: inherit;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #296CFB;
    opacity: 1;
    padding-right: 7%;
}

.starfullname {
    color: #E84855;
    left: 25%;
    top: 85px;
    position: absolute;
}

.starcompanyname {
    color: #E84855;
    left: 37%;
    top: 154px;
    position: absolute;
}

.staremail {
    color: #E84855;
    left: 34%;
    top: 225px;
    position: absolute;
}

.starpassword {
    color: #E84855;
    left: 24%;
    top: 293px;
    position: absolute;
}

.starconfirmpassword {
    color: #E84855;
    left: 42%;
    top: 363px;
    position: absolute;
}

.inputcontainer input[required]:invalid + span {
    display: inline-block;
}

.inputcontainer input[required]:valid + span {
    display: none;
}
