.container {
    position: relative;
    justify-content: center;
    top: 4rem;
    left: 12%;
}

.tableContainer {
    border-collapse: collapse;
    font-size: 19px;
    margin: 0px auto 25px auto;
    text-align: start;
    min-width: 56%;
}

    .tableContainer tbody {
        display: block;
        justify-content: start;
        padding-left: 6%;
        padding-right: 6%;
        background-color: white;
        box-shadow: 0px 3px 10px #00000029;
    }

    .tableContainer thead {
        background-color: #296CFB;
        border: #296CFB;
        color: white;
    }

        .tableContainer thead tr {
            padding-left: 6%;
            padding-right: 6%;
        }

        .tableContainer thead th {
            align-self: center;
        }

    .tableContainer tr {
        border-bottom: 1px solid #000000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 60px;
        /* padding-top: 24px;
        padding-bottom: 24px;*/
        padding: 24px 0px;
    }

#pending {
    border: none;
    padding: 0;
}

.secondTh {
    padding-right: 3rem;
}

.name {
    font-weight: bold;
    color: #296CFB;
    text-align: left;
}

.email {
    color: #000000;
    opacity: 1;
    font-weight: 500;
}

.remove {
    width: 40px;
    height: 40px;
    color: #296CFB;
    border: #296CFB;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.link {
    text-decoration: none;
    font-weight: 500;
    color: #296CFB;
}

    .link:hover {
        cursor: pointer;
        font-weight: bold;
    }

.tableContainer td + td {
    color: #000000;
    font-weight: normal;
}

#flex {
    display: flex;
    justify-content: center;
    border: none;
    padding: 26px 0px;
}

#circle {
    color: white;
    font-size: 25px;
    font-weight: initial;
    position: relative;
    float: right;
}

.plusSignContainer {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 1;
}

    .plusSignContainer img {
        width: 20px;
        height: 20px;
        padding: 15px;
    }
