.container{
    width: 335px;
}
.resourceTitle{
    display: inline-block;
    font-size: 18px;
    color: #296CFB;
    font-family: Montserrat;
    cursor: pointer;
}
.btnDelete{
    float: right;
    width: 60px;
    height: 25px;

    margin-top: 15px;  
    color: #296CFB;
    border-color: #296CFB;
    font-family: Montserrat;
    cursor: pointer;
    z-index: 1;
}
.btnEdit{
    float: right;
    width: 60px;
    height: 25px; 
    margin-left: 15px;  
    margin-top: 15px;
    color: #296CFB;
    border-color: #296CFB;
    font-family: Montserrat;
    cursor: pointer;
}
