.container{
    margin: 0 auto;
}

.cardscontainer{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    gap: 120px 150px;
    top: 5rem;
    padding-left: 6%;
    margin-bottom: 3rem;
}