.container {
    width: 100%;
    display: flex;
    position: relative;
}

.leftHalf {
    margin-bottom: 6%;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: auto;    
    position: relative;
}

.hOne {
    float: left;
    padding-left: 10%;
    font-size: 48px;
    max-width: 760px;
    display: block;
    text-align: left;
}

.pOne {
    font-size: 22px;
    padding-left: 10%;
    max-width: 760px;
    display: block;
    line-height: 42px;
    margin: 0;
}

.getStartedBtn {
    width: 250px;
    height: 70px;
    margin-left: 29%;
    margin-top: 10%;
    text-decoration: none;
    background-color: #296CFB;
    border-color: #296CFB;
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.divOne {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    justify-content: space-around;
}

.path6 {
    height: auto;
    position: relative;
    max-width: 820px;   
    z-index: -10;
}

.image9 {
    position: absolute;
    padding-top: 15%;
    left: 10%;
    width: 56%;
    height: auto;
}

.pDemo {
    font-size: 48px;
    font-weight: bold;
    padding-left: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.pRequestDemo {
    font-size: 22px;
    padding-left: 10%;
    max-width: 747px;
    line-height: 42px;   
    margin-bottom: 5%;
}

.inputForm {
    width: 100%;
}

    .inputForm ::placeholder {
        color: #296CFB;
        font-size: 19px;
    }

.inputBase {
    width: 300px;
    height: 70px;
    margin-left: 7%;
    border-color: #296CFB;
    margin-bottom: 5%;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
}

.inputOne {
    width: 300px;
    height: 70px;
    margin-left: 7%;
    border-color: #296CFB;
    margin-bottom: 5%;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
}

.submitBtn {
    width: 250px;
    height: 70px;
    background-color: #296CFB;
    border-color: #296CFB;
    margin-left: 35%;
    color: white;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.rightHalf {
    max-width: 50%;
    height: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: relative;
}

.picDivOne {
    display: flex;
    position: relative;    
    width: 100%;
    justify-content: space-around;
}

.path5 {
    height: auto;
    position: relative;   
    max-width: 630px;
    padding-left: 31%;
    z-index: -20;
}

.image7 {
    position: absolute;   
    padding-top: 16%;
    padding-left: 53%;
    width: 50%;
    height: auto;
}

.textDiv {
    position: relative;
    min-height: 9%;
    top: -2%;
    right: -13%;
    max-width: 93%;
}

.hTwo {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding-left: 15%;
}

.pTwo {
    font-size: 22px;
    max-width: 617px;
    line-height: 42px;
    text-align: right;
}

.buttonsDiv {
    min-height: 4%;
    position: relative;
    top: -6%;
    left: 26%;
    max-width: 78%;
}

.exploreCoursesBtn {
    width: 250px;
    height: 70px;
    background-color: #296CFB;
    border-color: #296CFB;
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
}

.findCoachesBtn {
    margin-left: 25px;
    width: 250px;
    height: 70px;
    border-color: #296CFB;
    font-size: 22px;
    color: #296CFB;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
}

.picDiv {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.path7 {
    height: auto;
    position: relative;
    max-width: 728px;
    padding-left: 17%;
    z-index: -20;
    top: -5%;
}

.group53 {
    position: absolute;   
    padding-left: 39%;
    width: 45%;
    height: auto;
    top: 11%;
}
