@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 90%;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
}

.left {
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    max-width: 960px;
}

.right {
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    max-width: 960px;
}

.arrow {
    width: 11.125rem;
    opacity: 100%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .formContainer h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 50px;
        margin-bottom: 10px;
    }

    .formContainer h5 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 22px;
        margin: 0;
    }

.input {
    width: 34.375rem;
    min-height: 4.375rem;
    opacity: 1;
    border: 2px solid #296cfb;
    padding-left: 20px;
}

    .input:focus {
        outline: none;
    }

.backgnd {
    width: 100rem;
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.woman {
    max-width: 100%;
    width: 33.75rem;
    height: 37.25rem;
    position: absolute;
    top: 30%;
    left: 30px;
}

.inputpass {
    margin-top: 30px;
    margin-bottom: 20px;
    /*background-image: url("assets/images/Icon\ -\ Visibility\ -\ Filled.svg");*/
    background-repeat: no-repeat;
    background-position: right;
    background-position: 525px;
}

.inputuser {
    margin-top: 50px;
}

.checkcontainer {
    display: flex;
    justify-content: space-between;
}

    .checkcontainer input {
        cursor: pointer;
    }

    .checkcontainer label {
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        color: #296cfb;
    }

    .checkcontainer a {
        color: #296cfb;
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
    }

.btncontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

    .btncontainer input {
        width: 250px;
        height: 70px;
        border: 2px solid #296cfb;
        color: #296cfb;
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .btncontainer :first-child {
        background: #296cfb;
        color: white;
    }

::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: #296CFB;
    letter-spacing: 1px;
}
