.section{

}
.container{
    position: fixed;
    width: 600px;
    height: 500px;
    background-color:white;
    z-index: 1;
}
.p{
    color: #296CFB;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    margin-left: 37%;
    padding-top: 20px;
}
.btnClose{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    color: #296CFB;
    border: none;
}
.imput{
    display: block;
    width: 500px;
    height: 70px;
    border-color: #296CFB;
    border-width: 2px;
    font-family: Montserrat;
    font-size: larger;
    margin-top: 50px;
    margin-left: 45px;
}
.btnEdit{
    width: 130px;
    height: 45px;
    border-color: #296CFB;
    background-color: #296CFB;
    font-family: Montserrat;
    font-weight: bold;
    color: white;;
    font-size: larger;
    margin-left: 5%;
    cursor: pointer;
    }
.btnCancel{
    width: 130px;
    height: 45px;
    border-color: #296CFB;
    background-color: white;
    font-family: Montserrat;
    font-weight: bold;
    color: #296CFB;;
    font-size: larger;
    cursor: pointer;
    margin-top: 15%;
    margin-left: 26%;
}
::placeholder{
    font-family: Montserrat;
    text-align: center;
    color: #296CFB;
}
