@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;700&display=swap');

.container{
    display: flow-root;
}

.modalContainer{
    position: relative;
    background-color: white;
}

.header{
    background: #296CFB 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    height: 120px;
    flex-direction: column;
}

.title{
    color: white;
    font: normal normal bold 18px/24px Montserrat;
    width: 300px;
    text-align: center;
    margin: auto;
}

.footer{
    display: flex;
    justify-content: center;
    padding-top: 6px;
}

.btnSave{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif; 
    width: 110px;
    height: 35px;
    background: #296CFB 0% 0% no-repeat padding-box;
    opacity: 1;
    border: #296CFB;
    margin-left: 25px;
    margin-top: 30px;
    color: #ffffff;
    font: normal normal bold 14px/27px Montserrat;
    letter-spacing: 1.1px;
    opacity: 1;
    cursor: pointer;
}

.btnCancel{
    background-color: white;
    width: 110px;
    height: 35px;
    border: 1px solid #296CFB;
    opacity: 1;
    color: #296CFB; 
    font: normal normal bold 14px/27px Montserrat;
    letter-spacing: 1.1px;
    cursor: pointer;
}

.closeBtn{
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 15px;
    margin-left: 490px;
}   