@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;700&display=swap');

.bodyContainer{
    display: flow-root;
    padding-top: 20%;
}

.addContainer {
    position: relative;
    float: left;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.headerContainer{
    width: 600px;
    height: 100px;
    background: #296CFB 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}

.titleContainer{
    text-align: center;
    color: white;
    font: normal normal bold 28px/36px Montserrat;
    padding-top: 30px;
    margin-left: 96px;
}

.closeBtn{
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    margin-right: 30px;
}   

div.inputContainer{
    text-align: center;
    height: 600px;
}

.inputField{
    width: 400px;
    height: 40px;
    border: 2px solid;
    border-color: #296cfb;
    margin-top: 25px;
}

.inputFile{
    width: 250px;
    height: 50px;
    border: 2px solid #FFFFFF;
    opacity: 1;
    background-color: red;
    position: relative;
}

.footerContainer{
    text-align: center;
    margin-top: -10px;
}

.btnSave{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif; 
    width: 100px;
    height: 40px;
    background: #296CFB 0% 0% no-repeat padding-box;
    opacity: 1;
    border: #296CFB;
    margin-left: 25px;
    margin-top: 30px;
    color: #ffffff;
    font: normal normal bold 14px/27px Montserrat;
    letter-spacing: 1.1px;
    opacity: 1;
    cursor: pointer;
}
.btnCancel{
    background-color: white;
    width: 100px;
    height: 40px;
    border: 1px solid #296CFB;
    opacity: 1;
    color: #296CFB; 
    font: normal normal bold 14px/27px Montserrat;
    letter-spacing: 1.1px;
    cursor: pointer;
}
.addAnotherCoachBtn{
    color: #296CFB;
    text-align: left;
    font: normal normal bold 22px/27px Montserrat;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-left: 89px;
    font-weight: 500;
    background: none;
    display: flex;
}
::placeholder {
    font-family: "Montserrat", sans-serif;
    color: #296CFB;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    padding-left: 30px;    
}

.fileUpload {
	background: #296CFB;
    border: 2px solid white;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	margin: 34px;/*20px/16px 0*/
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 150px;
    cursor: pointer;

}
.fileUpload span{
    display: block;
    font: normal normal bold 14px/27px Montserrat;
}

.fileUpload:hover, .fileUpload:active, .fileUpload:focus {
	background: white;
    color: grey;
    border: 1px solid black;
    cursor: pointer;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 148px;
    height: 46px;
    cursor: pointer;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.starFirstName{
    position: absolute;
    color: #e84855;
    left: 36.6%;
    top: 132px;
}

.starLastName{
    position: absolute;
    color: #e84855;
    left: 36.3%;
    top: 204px;
}

.starPrice{
    position: absolute;
    color: #e84855;
    left: 29%;
    top: 346px;
}

.starCalendlyUrl{
    position: absolute;
    color: #e84855;
    left: 39.7%;
    top: 487px;
}

.starDescription{
    position: absolute;
    color: #e84855;
    left: 37.7%;
    top: 552px;
}

.starVideoUrl{
    position: absolute;
    color: #e84855;
    left: 35.7%;
    top: 275px;
}

.company{
    color: white;
}

input[required]:invalid + span {
    display: inline-block;
}

input[required]:valid + span {
    display: none;
}

textarea[required]:valid + span{
    display: none;
}

textarea[required]:invalid + span{
    display: inline-block;
}
.languages{
    font: normal normal bold 14px/27px Montserrat;
}