.container {
    text-align: center;
}

.p {
    text-align: center;
    color: #296CFB;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px;
}

.btnClose {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #296CFB;
    background-color: #FFFFFF;
    border: none;
}

.input {
    display: block;
    width: 500px;
    height: 3rem;
    border-color: #296CFB;
    color: #296CFB;
    border-width: 2px;
    font-family: Montserrat;
    font-size: larger;
    margin-top: 20px;
    margin-left: 14%;
}

.selectContainer{
    width: 510px;
    height: 3.3rem;
    margin-top: 20px;
    margin-left: -5%;
    opacity: 1;
    border: 2px solid #296cfb;
    font-size: 20px;
    color: #296CFB;
    padding-left: 30px;
}

.buttonContainer {
    margin: 10px;
    padding-top: 15px;
}

.btnSubmit {
    margin: 10px;
    width: 120px;
    height: 2.5rem;
    border-color: #296CFB;
    background-color: #296CFB;
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    font-size: larger;
    cursor: pointer;
}

.btnCancel {
    margin: 10px;
    width: 120px;
    height: 2.5rem;
    border-color: #296CFB;
    background-color: white;
    font-family: Montserrat;
    font-weight: bold;
    color: #296CFB;
    font-size: larger;
    cursor: pointer;
}

.input::placeholder {
    font-family: Montserrat;
    color: #296CFB;
    padding-left: 28px;
}