.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    transition: all 5s ease-in-out;
}

.popup .close:hover {
    color: #e20707;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.header-courses {
    text-align: left;
    font: normal normal bold 48px/50px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    width: 293px;
    height: 70px;
    margin-block: unset;
    padding: 15px;
    margin: 5px;
    margin-left: 100px;
}