.LogoText {
    text-align: left;
    letter-spacing: 2.25px;
    position: absolute;
    top: 325px;
    left: 200px;
    width: 200px;
    height: 100px;
    color: #FFFFFF;
    font: bold  Montserrat;
    opacity: 1;
    
  }
  .LogoHeader {
    text-align: left;
    letter-spacing: 2.25px;
    position: absolute;
    top: 200px;
    left: 300px;
    width: 200px;
    height: 100px;
    color: #FFFFFF;
    font: bold  Montserrat;
    opacity: 1;
    
  }
  .Logo {
    text-align: left;
    letter-spacing: 2.25px;
    position: absolute;
    top: 215px;
    left: 175px;
    width: 100px;
    color: #FFFFFF;
    font: normal normal bold 45px/55px Montserrat;
    opacity: 1;
  }
ul{
    list-style-type: none;
}
.ButtonGetStarted
{
    text-align: left;
    letter-spacing: 2.25px;
    position: absolute;
    top: 550px;
    left: 200px;
    color: #0B2969;
    width: 250px;
    padding: 19px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight:bold;
    font: Montserrat;
    border-color:transparent;
    cursor: pointer;
}
.Company
{
    text-align: center;
    letter-spacing: 2.25px;
    position: absolute;
    top: 295px;
    left: 900px;  
    color: #FFFFFF;
    font: Montserrat;
   
}
.ContactUs
{
    text-align: center;
    letter-spacing: 2.25px;
    position: absolute;
    top: 450px;
    left: 900px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFFFFF;
    font: Montserrat;
}   
.AboutUs
{
    text-align: center;
    letter-spacing: 2.25px;
    position: absolute;
    top: 375px;
    left: 900px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFFFFF;
    font: Montserrat;
}  
.PrivacyPolicy
{
    text-align: center;
    letter-spacing: 2.25px;
    position: absolute;
    top: 525px;
    left: 900px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFFFFF;
    font: Montserrat;
}    
.Services
{
    text-align: center;
    letter-spacing: 2.25px;
    position: absolute;
    top: 295px;
    left: 1400px;
    color: #FFFFFF;
    font: Montserrat;
}
.Courses
{
    text-align: center;
    letter-spacing: 2.25px;
    position: absolute;
    top: 375px;
    left: 1400px;
    color: #FFFFFF;
    font: Montserrat;
}        
.Coaches
{
    text-align: center;
    letter-spacing: 2.25px;
    position: absolute;
    top: 450px;
    left: 1400px;
    color: #FFFFFF;
    font: Montserrat;
}    
.Requests
{
    text-align: center;
    letter-spacing: 2.25px;
    position: absolute;
    top: 525px;
    left: 1400px;
    color: #FFFFFF;
    font: Montserrat;
}
.FacebookLogo
{
    text-align: center;
    letter-spacing: 2.25px;
    position: absolute;
    top: 375px;
    left: 1800px;
    color: #FFFFFF;
    font: Montserrat;
}
.InstagramLogo
{
    text-align: center;
    letter-spacing: 2.25px;
    position: absolute;
    top: 450px;
    left: 1800px;
    color: #FFFFFF;
    font: Montserrat;
}
.LinkedInLogo
{
    text-align: center;
    letter-spacing: 2.25px;
    position: absolute;
    top: 525px;
    left: 1800px;  
    color: #FFFFFF;
    font: Montserrat;
}
.TextOnBottom
{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 640px;
    left: 0px;
    width: 940%;
    border-top: 5px solid white;
    color: white;
    line-height: 50px;
    padding: 0 20px;
}
.FooterMain {
    position: absolute;
    margin-top: 0%;
}
.solid
{
    padding: .5em 0;
    border-bottom: 1px solid #CCC;
}
