@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
    display: flex;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 120rem;
    min-height: 67.5rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.navContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 37.5rem;
    height: 67.5rem;
    background: #296CFB 0% 0% no-repeat padding-box;
    opacity: 0.1;
}
