@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
    position: fixed;
    /* height: 1080px;*/
    justify-content: left;
    /* top: 160px;*/
    left: 0px;
    /* width: 600px;*/
    width: 23%;
    height: 70%;
    background-color: #296cfb1a;
    /* padding: 0;*/
    /* margin: 0;*/
    overflow: auto;
}

.pencil {
    /* width: 25px;*/
    width: 18px;
    /* height: 18px;*/
    padding-top: 5%;
    padding-right: 5%;
    display: block;
    margin-left: auto;
    height: auto;
    float: none;
}

.namesContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 3%;
    justify-content: center;
    align-content: space-around;
    gap: 10px 1px;
}

.greenCircle {
    width: 70px;
    height: 70px;
    color: #FFFFFF;
    background-color: #16D696;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 65px;
    border-radius: 50%;
}

.names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*justify-content: space-evenly;*/
    padding-left: 8px;
    row-gap: 6px;
}

.fullName {
    /* position: relative;*/
    /*width: auto;*/
    /* height: 27px;*/
    /* top: -82px;*/
    /* left: 264px;*/
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    /* line-height: 27px;*/
    color: #000000;
}

.companyName {
    /* position: relative;*/
    /*width: auto;*/
    /* height: 27px;*/
    /*top: -67px;*/
    /*left: 263px;*/
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    /* line-height: 27px;*/
    color: #296CFB;
}

.navigation {
    margin-bottom: 10%;
    position: relative;
    top: 10%;
    list-style-type: none;
    cursor: pointer;
}

    .navigation a:hover, .navigation a:visited, .navigation a:link, .navigation a:active {
        text-decoration: none;
    }

    .navigation ul {
        margin: 0;
        flex-direction: column;
        display: flex;
        /* justify-content: space-around;*/
    }

        .navigation ul li {
            border-top: 1px solid #000000;
            font-size: 16px;
            margin-left: 11%;
            margin-right: 20%;           
            padding-top: 5%;
            padding-bottom: 5%;
        }

.active {
    color: #296CFB;
    font-weight: bold;
    opacity: 1;
}

.notActive {
    color: #000000;
    font-weight: normal;
    opacity: 1;
}

.logout {
    color: #E84855;
    font-weight: normal;
}
