.container {
    position: fixed;
    justify-content: left;
    left: 0px;
    width: 23%;
    height: 70%;
    background-color: #296cfb1a;
    overflow: auto;
}

.pencil {
    width: 18px;
    padding-top: 5%;
    padding-right: 5%;
    display: block;
    margin-left: auto;
    height: auto;
    float: none;
}

.namesContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 3%;
    justify-content: center;
    align-content: space-around;
    gap: 10px 1px;
}

.greenCircle {
    width: 70px;
    height: 70px;
    color: #FFFFFF;
    background-color: #16D696;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 65px;
    border-radius: 50%;
}

.names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
    row-gap: 6px;
}

.fullName {
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
}

.companyName {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #296CFB;
}

.navigation {
    margin-bottom: 10%;
    position: relative;
    top: 10%;
    list-style-type: none;
    cursor: pointer;
}

    .navigation a:hover, .navigation a:visited, .navigation a:link, .navigation a:active {
        text-decoration: none;
    }

    .navigation ul {
        margin: 0;
        flex-direction: column;
        display: flex;
        list-style-type: none;
    }

        .navigation ul li {
            border-top: 1px solid #000000;
            font-size: 16px;
            margin-left: 11%;
            margin-right: 20%;
            padding-top: 5%;
            padding-bottom: 5%;
        }

.active {
    color: #296CFB;
    font-weight: bold;
    opacity: 1;
}

.notActive {
    color: #000000;
    font-weight: normal;
    opacity: 1;
}

.logout {
    color: #E84855;
    font-weight: normal;
}
