.section{
    position: absolute;
    top: 298px;
    left: 586px;
}
.topDiv{
    width: 750px;
    height: 200px;
    background-color: #296CFB;
}
.p{
    width: 350px;
    height: 70px;
    padding-left: 26%;
    padding-top: 13%;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: Montserrat;
    font-weight: bold;
}
.bottomDiv{
    width: 750px;
    height: 200px;
    background-color:aqua;
}
.btnCancel{
     width: 130px;
    height: 45px;
    border-color: #296CFB;
    background-color: #296CFB;
    font-family: Montserrat;
    color: white;;
    font-size: larger;
    cursor: pointer;
    margin-top: 15%;
    margin-left: 20%;
}
.btnRemove{
    width: 130px;
    height: 45px;
    border-color: #296CFB;
    background-color: #296CFB;
    font-family: Montserrat;
    color: white;;
    font-size: larger;
    cursor: pointer;
    margin-top: 15%;
    margin-left: 25%;
}
.close{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    color: #296CFB;
    border: none;
}
.btnSubmit{
    width: 130px;
    height: 45px;
    border-color: #296CFB;
    background-color: #296CFB;
    font-family: Montserrat;
    color: white;;
    font-size: larger;
    cursor: pointer;
    margin-top: 15%;
    margin-left: 25%;
}