.editPage {
    text-align: center;
}

.headingCourse {
    color: #296CFB;
    margin: 10px;
}

.closeCreate {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background-color: #FFFFFF;
    border: none;
}

.inputContainer {
    width: 500px;
    height: 2.5rem;
    margin: 7px;
    opacity: 1;
    border: 2px solid #296CFB;
    font-size: 20px;
}

.selectContainer {
    width: 500px;
    height: 2.7rem;
    margin: 7px;
    opacity: 1;
    border: 2px solid #296cfb;
    font-size: 20px;
    color: #296CFB;
    padding-left: 30px;
}

.buttonContainer {
    margin: 10px;
    padding-top: 15px;
}

.btnCancel {
    margin: 5px;
    width: 120px;
    height: 2.5rem;
    font: normal normal bold 22px/27px Montserrat;
    letter-spacing: 1.1px;
    color: #296CFB;
    border-color: #296CFB;
}

.btnSubmit {
    margin: 5px;
    width: 120px;
    height: 2.5rem;
    font: normal normal bold 22px/27px Montserrat;
    letter-spacing: 1.1px;
    color: #FFFFFF;
    background-color: #296CFB;
    border-color: #296CFB;
}

::placeholder {
    padding-left: 30px;
    text-align: left;
    color: #296CFB;
}