.hThree {
    padding-left: 20px;
    padding-right: 10px;
}
.hSpan {
    font-weight: normal;
}
.headerDiv
{
    display:flex;
    border-bottom: 1px solid black;
    padding: 5px;
}
.close
{
    font-weight: medium;
    cursor: pointer;
}
.clearBtn
{
    width:100px;
    font-size: 15px;
    margin-right:35%;
    margin-left:39%;
    margin-bottom:20px;
    margin-top:20px;
    cursor: pointer;
    background-color:transparent;
    border-radius:20px
}
.notificationContainer
{
    padding-left:5px;
    padding-right:5px;
}