.editContainer {
  flex-direction: column;
  display:block;
}

.headerContainer {
  background-color: #296cfb;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.bodyContainer {
  display: flex;
  justify-content: space-around;
}
.bodyContainer2 {
  margin-top: 50px;
  width: 22%;
}
.bodyContainer3 {
  margin-top: 50px;
  width: 55%;
}
.profileImage {
  background-color: #296cfb1a;
  height: 150px;
  display: flex;
  justify-content: center;
}
.button {
  border: 0;
  background-color: #296cfb;
  margin-left: 38px;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 35px;
  font-size: 18px;
}
.buttonPrs {
  border: 0;
  background-color: white;
  margin-left: 38px;
  color: #296cfb;
  font-weight: bold;
  width: 120px;
  height: 35px;
  font-size: 18px;
  border: 1px solid #296cfb;
}

.nameCntr {
  height: 30px;
  width:340px;
  border: 2px solid;
  border-color: #296cfb;
}
.nameCntr:nth-child(2) {
  margin-top: 25px;
}
.resizableContent {   
  min-height: 110px;
  min-width: 340px;
  resize: both;
  overflow: auto;
  max-height: fit-content;
  max-width: fit-content;
  margin-top: 25px;
  border: 2px solid #296cfb;
}
.cancelBtn {
  background-color: white;
  border-color: #296cfb;
  color: #296cfb;
  font-weight: bold;
  box-shadow: none;
}
.cancelBtn:nth-child(2) {
  background-color: #296cfb;
  color: white;
}
.text {
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding-left: 80px;
  background-color: #296cfb;
  margin: 0;
}

.close {
  margin-right: 0;
  height: 40px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  padding: 0;
  text-decoration: none;
  font-weight: bold;
}

.bodyContainer3 * {
  padding-left: 15px;
  font-size: 20px;
  font-weight: medium;
}

::placeholder {
  color: #296cfb;
  font-size: 14px;
}
input:nth-child(2)::placeholder {
  color: #a0bbf5;
}
.resizableContent {
  padding-top: 8px;
}

.footer {
  display: flex;
  height: 70px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: center;
}
.fileUpload {
  border: 0;
  background-color: #296cfb;
  margin: 14px;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 35px;
  font-size: 18px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.fileUpload:hover,
.fileUpload:active,
.fileUpload:focus {
  background: white;
  color: grey;
  border: 1px solid black;
  cursor: pointer;
}

.fileUpload .upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 148px;
  height: 46px;
  cursor: pointer;
  
}
.upload input[type="file"] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
