.revenue{
    margin-left: 35%;
    margin-top: 0px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    
    font-family: Montserrat,sans-serif;    
    font-weight: bold;
     font-size: 120%; 
    text-align: left;
}

table{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
    opacity: 1;
    border-collapse: collapse
}
th{
    color: white;
}
th,td{
    width: 10%;
    padding-top: 6%;
    padding-bottom: 5%;
    padding-left: 8%;
 
}
tbody tr{
    border-bottom: 1px solid #181616 ;
}
tfoot{
    margin-top: 20px;
}