.editContainer {
    display: block;
    position: relative;
    height: 100%;
}

.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.colorUpContainerBlue {
    background-color: #296CFB;
    display: block;
    flex-grow: 2;
    height: 37%;
}

.colorUpContainerGreen {
    background-color: #16D696;
    display: block;
    flex-grow: 2;
    height: 37%;
}

.closeButton {
    float: right;
    background: transparent 0% 0% no-repeat padding-box;
    color: white;
    border-style: none;
    font-size: 25px;
    padding: 18px;
    cursor: pointer;
}

.categoryName {
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding-left: 8%;
    top: 17%;
    position: relative;
}

.lector {
    top: 29%;
    position: relative;
    width: 43%;
    margin: 0;
    padding-left: 7%;
}

.lectorSection {
    display: flex;
    width: 100%;
}

.lectorPic {
    width: 118px;
    height: 100px;
    padding: 0;
}

.cardpic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.pCreatedBy {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 500;
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: white;
}

.lectorName {
    margin: 0;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.pCompanyName {
    margin: 0;
    margin-left: 20px;
    margin-top: 17px;
    font-weight: bold;
    color: white;
}

.downContainer {
    max-width: 41%;
    display: block;
    flex-grow: 3;
    padding-left: 5%;
}

    .downContainer p {
        font-weight: bold;
        margin-top: 11%;
    }


.ulStyleGreen {
    list-style-type: none;
}

    .ulStyleGreen li::before {
        content: "\25AA";
        color: #16D696;
        display: inline-block;
        width: 1em;
        margin-left: -1em
    }

.ulStyleBlue {
    list-style-type: none;
}

    .ulStyleBlue li::before {
        content: "\25AA";
        color: #296CFB;
        display: inline-block;
        width: 1em;
        margin-left: -1em
    }

.rightContainer {
    position: absolute;
    top: 14%;
    right: 10%;
    max-height: 30rem;
    width: 37%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 10px #00000029;
    align-content: space-between;
    row-gap: 6%;
}

.rightContainerDown {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    row-gap: 20px;
    position: relative;
    flex-wrap: wrap;
}

.includes {
    font-weight: bold;
    margin: 0;
    padding-left: 9%;
    padding-top: 9%;
}

.resources {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    position: relative;
    padding-bottom: 1%;
}

    .resources p {
        padding-left: 0%;
        margin: 0;
    }

.resourceFour {
    position: relative;
    top: -7px;
}

.sessionIncludes {
    align-self: center;
}

.bookButton {
    width: 120px;
    height: 40px;
    background-color: #296CFB;
    border-color: #296CFB;
    color: floralwhite;
    text-decoration: none;
    font: normal normal bold 22px/27px Montserrat;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 14%;
}

.mainBookButton {
    padding: 0 0 0 0;
    border-color: none;
    border: none;
    background-color: transparent;
}
