.header {
    background-color: #296CFB;
    height: 23%;
    text-align: center;
    padding-left: 5%;
}

.closeButton {
    float: right;
    background: transparent 0% 0% no-repeat padding-box;
    color: white;
    border-style: none;
    font-size: 25px;
    padding: 18px;
    cursor: pointer;
}

.text {
    margin-top: 0;
    color: white;
    position: relative;
    top: 37%;
}

.inputForm {
    position: relative;
    width: 100%;
    height: 60%;
}

.inputField {
    width: 100%;
    height: 100%;
    display: flex;
}

    .inputField textarea {
        width: 100%;
        font-size: 26px;
    }

.btnDiv {
    position: relative;
    text-align: center;
    background-color: #296CFB;
    height: 19.5%;
    padding-top: 3%;
}

.modalBtnSend {
    width: 150px;
    height: 50px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #296CFB;
    opacity: 1;
    color: #296CFB;
    font: normal normal bold 22px/27px Montserrat;
    letter-spacing: 1.1px;
    cursor: pointer;
    font-size: 19px;
}
