.container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
}

.headContainer {
    background-color: #EAF0FF;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
}

    .headContainer ul {
        list-style-type: none;
    }

.categoryContainer {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.categoryHeader {
}

.categoryList {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-content:space-around;
}
    .categoryList label {
        font-weight: 500;
        font-size: 15px;
    }
       

    .lineContainer {
        border-right: 1.8px solid #000000;
        width: 10px;
        opacity: 0.4;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }

/*.languagesContainer {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}
*/


.imageC {
    align-self: center;
}

.book {
    max-width: 22rem;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}







.cardscontainer {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    row-gap: 1rem;
    align-items: center;
    gap: 88px 116px;
    padding-top: 2.6%;
    padding-left: 11%;
}

.card {
    width: 23%;
    height: auto;
    box-shadow: 0px 3px 10px #00000029;
}

.cardpic {
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
    background-size: cover;
}

.name {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

    .name span:first-child {
        color: #000000;
        font-weight: bold;
    }

.price {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 1%;
    margin-top: 1%;
    color: #296CFB;
}

.button {
    text-align: center;
    padding-bottom: 6%;
}

.removeButton {
    width: 120px;
    height: 40px;
    background-color: #296CFB;
    border-color: #296CFB;
    color: floralwhite;
    text-decoration: none;
    font: normal normal bold 22px/27px Montserrat;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.buttonContainer {
    margin-left: 45%;
    padding-top: 3%;
    position: absolute;
}

.manageButton {
    width: 130px;
    height: 40px;
    text-decoration: none;
    border-color: #296CFB;
    text-decoration: none;
    font: normal normal bold 22px/27px Montserrat;
    font-weight: bold;
    color: #296CFB;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
}
