.container{
    width: 600px;
    height: 500px;
    border-top: 10px;
    background-color: white;
    margin-left: 33%;
    margin-top: 7%;
    background-color: aqua;
}
.p{
    color: #296CFB;
    font-family: Montserrat;
    font-size: 28px;
    font-weight:lighter;
    margin-left: 37%;
    padding-top: 20px;
}
.btnClose{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    color: #296CFB;
    border: none;
}
.imput{
    display: block;
    width: 500px;
    height: 70px;
    border-color: #296CFB;
    font-family: Montserrat;
    border-width: 2px;
    font-size: larger;
    margin-top: 50px;
    margin-left: 45px;
}
.btnSubmit{
    width: 130px;
    height: 45px;
    border-color: #296CFB;
    background-color: #296CFB;
    font-family: Montserrat;
    color: white;;
    font-size: larger;
    margin-left: 5%;
    cursor: pointer;
}
.btnCancel{
    width: 130px;
    height: 45px;
    border-color: #296CFB;
    background-color: #296CFB;
    font-family: Montserrat;
    color: white;;
    font-size: larger;
    cursor: pointer;
    margin-top: 15%;
    margin-left: 25%;
}

::placeholder{
    text-align: center;
    font-family: Montserrat;
    color: #296CFB;
}
