.section{
    position: fixed;
    margin-left: 30%;
    margin-top: 7%;
}
.topDiv{
    width: 750px;
    height: 200px;
    background-color: #296CFB;
    z-index: 1;
}
.p{
    width: 350px;
    height: 70px;
    padding-left: 26%;
    padding-top: 13%;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: Montserrat;
    font-weight: bold;
}
.bottomDiv{
    width: 750px;
    height: 200px;
    background-color:aqua;
    z-index: 1;
}
.btnCancel{
    width: 150px;
    height: 50px;
    margin-top: 5%;
    margin-left: 27%;
    color: #296CFB;
    background-color: white;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: bold;
    border-color: #296CFB;
    cursor: pointer;
}
.btnRemove{
    width: 150px;
    height: 50px;
    margin-left: 5%;
    color: white;
    background-color: #296CFB;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: bold;
    border-color: #296CFB;
    cursor: pointer;
}
.btnClose{
    padding: 12px 16px;
    float: right;
    font-size: 35px;
    background-color: #296CFB;
    color: white;
    border: none;
    cursor: pointer;
}
